
.btn-light{
    background:#8400FF;
    margin: 10px;
    color: white;


}
.edit{
    width: auto;
    align-content: center;
    justify-content: end;  
}

#navbarSupportedContent{
    max-width: auto;
}

.left{
    display: flex;
    margin-left: 100px;
}